[submodule "toolchain/arduino-cmake"]
	path = toolchain/arduino-cmake
	url = https://github.com/arduino-cmake/arduino-cmake.git
[submodule "toolchain/cosa"]
	path = toolchain/cosa
	url = https://github.com/waterloop/cosa.git
