[submodule "libraries/wlib"]
	path = libraries/wlib
	url = git@github.com:teamwaterloop/waterloop-wlib.git
	branch = library
[submodule "platforms/cosa"]
	path = platforms/cosa
	url = git@github.com:teamwaterloop/Cosa.git
[submodule "build/arduino-cmake"]
	path = build/arduino-cmake
	url = https://github.com/arduino-cmake/arduino-cmake.git
