bin/
.idea/

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

dist/
node_modules/
package-lock.json
pkg/util/sys/bindata.go
deploy/gen/bin

# Toolchain symlink
bin/toolchain

# vendor directories
test/**/*/vendor/
test/**/*/README.md
test/**/*/.gitignore
test/**/*/CMakeLists.txt
test/**/*/args.cmake
vendor/*
!vendor/vendor.json
test/project-app/app-linker/expenses.db

# Test folders
wio-test/
wio-app/
.wio/

# Editors
*.swp
*.swo
*.un~
*~

# local test
local-test-env
