bin
.idea/

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

dist/
node_modules/
package-lock.json
cmd/wio/utils/io/bindata.go

# Toolchain symlink
bin/toolchain

# vendor directories
tests/**/*/vendor/
vendor/*
!vendor/vendor.json

# Test folders
wio-test/
wio-app/
.wio/

# Editors
*.swp
*.swo
*.un~
*~

